
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<ng-template [ngIf]="authService.isAuthenticated()">
<div class="row" *ngIf="authService.isAdmin()">
    <div class="col-xs-12">
       <div class="btn-group" appDropdown>
           <button type ="button" class=" btn btn-primary dropdown-toggle">Manage Product <span class="caret"></span></button>
       <ul class="dropdown-menu">
           <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
            <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
           <li><a style="cursor: pointer;" *ngIf="authService.isAuthenticated()" (click)="onDeleteRecipe()">Delete Recipe</a></li>
       </ul>
       </div>
    </div>
</div>
<div class="row" *ngIf="!authService.isAdmin()">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
           <button type ="button" class=" btn btn-primary dropdown-toggle">Product Options<span class="caret"></span></button>
       <ul class="dropdown-menu">
           <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
            <li><a style="cursor: pointer;" (click)="onEditRecipe()">Add Comment</a></li>
       </ul>
       </div>
    </div>
</div>
</ng-template>

<div class="row">
    <div class="col-xs-12">
       {{recipe.description}}
    </div>
    <div class="col-xs-12">
       Price: $ {{recipe.price}}
    </div>
    <div class="col-xs-12">
       Stock: {{recipe.amount}}
    </div>
</div>
<hr>
<div class="row">Reviews:
    <div class="col-xs-12">
        <ul class= "list-group">
            <ng-container *ngFor="let review of reviews; let i = index">
                <li class="list-group-item" *ngIf="review.productName == pID">
                    
                   {{ review.review }} - {{ review.rating }}
                   <br>
                   by: {{ review.userEmail }}
                  
                </li>
             </ng-container>
        </ul>
    </div>
</div>